<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <%- include('partials/head') %>

</head>
<body>
   <!--llama a los links de navigation que nos permite
    redirigirnos a las diferentes páginas, traer porciones de interfaz-->
    <%- include('partials/navigation') %>
    <main class=" container pt-2 text-center d-flex justify-content-center align-items-center">
        <section>
            <h1 class="dispay-1">About</h1>
            <p>
                Bienvenido/a a CellIdentifier, tu plataforma de análisis de imágenes avanzado mediante Machine Learning.
                En CellIdentifier estamos dedicados a revolucionar la forma en que exploramos y comprendemos el mundo 
                microscópico que nos rodea. Nuestra principal misión es facilitar la carga de imágenes de células para la obtención
                de resultados precisosy visuales mediante una herramienta eficiente y fácil de usar.
            </p>
            <h2>Nuestro Enfoque</h2>
            <p>
                En CellIdentifier nos apasiona la ciencia y la tecnología, consideramos que cada imágen realizada por microscopía 
                tiene una historia que contar. Nuestro proceso se realiza mediante Inteligencia Artificial y aprendizaje
                automático, todo con el objetivo de identificar y, en su caso, etiquetar las células en tus imágenes.
                Ya sea que estés realizando labores de investigación o simplemente que estés satisfecho por la curiosidad
                científica, nuestra plataforma te brinda la posibilidad de explorar y analizar las características
                únicas de las células con facilidad.
            </p>

            <h2>Cómo funciona</h2>
            <p class="numbered-paragraph">
                Carga de imágenes: Carga mediante nuestra intuitiva interfaz tus imágenes de células directamente a nuestra plataforma.</p>
            <p class="numbered-paragraph">Análisis de Machine Learning: Una vez cargadas la imágen, nuestro avanzado modelo de Machine Learning, entranado en una amplia
                variedad de tipos celulares y estructuras se encargará de identificar y etiquetar células de manera precisa.</p>
            <p class="numbered-paragraph">Visualización clara: Una vez completado el análisis, te mostraremos los resultados de una manera visual y comprensible.</p>
            
            <h2>Nuestra Promesa</h2>
            <p>
                En CellIdentifier nos importa la precisión y accesibilidad. Nos esforzamos por brindar una experiencia
                que resulte fluida y confiable. Nuestro equipo de expertos en ciencia de datos y tecnología trabaja 
                de forma constante para mejorar el modelo ofreciendo resultados cada vez más precisos.
                ¡Únete a nosotros en este emocionante viaje de exploración microscópica y descubrimiento!
            </p>
        </section>
    </main>
</body>
</html>