<footer class="bg-dark text-center text-white p-2">
    <p> ¡Únete a nosotros en esta emocionante jornada de exploración microscópica
        y descubrimiento! Si eres un investigador, científico, estudiante o simplemente alguien
        apasionado por la biología, CellIdentifier te invita a explorar el mundo de las células de 
        una manera completamente nueva.
    </p>
    <div>
        Si tienes cualquier pregunta, sugerencia o deseo de colaborar, no dudes en ponerte
        en contacto con nuestro equipo. ¡Estamos aquí para ayudarte a aprovechar al máximo CellId!
    </div>
</footer>